flaky==3.7.0
psutil==5.8.0  # Implicit dependency of pytest-xdist
pytest==6.2.5
pytest-benchmark==3.4.1
pytest-cov==2.12.1
pytest-mock==3.6.1
pytest-shard==0.1.2
pytest-stress==1.0.1
pytest-sugar==0.9.4
pytest-timeout==1.4.2
pytest-xdist==2.4.0
setuptools<59 # v59 causes pkg_resources.require in test_setuptools_version to fail
