aioredis<2.0.0  # Pin version for ray.
dgl==0.6.1
geneticalgorithm>=1.0.2
hydra-core==1.1.0
keras==2.6.0
matplotlib>=3.3.4
nevergrad>=0.4.3
opentuner>=0.8.5
pandas>=1.1.5
ray[default,rllib]==1.9.0
submitit>=1.2.0
submitit>=1.2.0
tensorflow==2.6.1
torch>=1.6.0
typer[all]>=0.3.2
